* {
  box-sizing: border-box;
}

.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}

p {
  display: block;
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
}

nav {
  height: 52px;
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20px;
  margin-bottom: 100px;
}

.lang {
  height: 52px;
  width: 52px;
  font-size: 18px;
  border: 2px solid palevioletred;
  border-radius: 50%;
}

#log-out {
  height: 32px;
  font-size: 16px;
  padding: 5px;
}

button {
  background-color: lightpink;
  color: white;
}

p, input {
  color: palevioletred;
}

input, button {
  text-align: center;
  border: 2px solid palevioletred;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  font-size: 28px;
  text-transform: uppercase;
}

input:focus, button:focus {
  outline: none;
}

.err
  {
    animation: shake 0.3s;
    box-shadow: 0 0 0.3em red;
  }

@keyframes shake {
  0% { margin-left: 0rem; }
  15% { margin-left: 0.3rem; }
  30% { margin-left: -0.3rem; }
  45% { margin-left: 0.3rem; }
  60% { margin-left: -0.3rem; }
  75% { margin-left: 0.3rem; }
  90% { margin-left: -0.3rem; }
  100% { margin-left: 0rem; }
  0% { margin-right: 0rem; }
  15% { margin-right: 0.3rem; }
  30% { margin-right: -0.3rem; }
  45% { margin-right: 0.3rem; }
  60% { margin-right: -0.3rem; }
  75% { margin-right: 0.3rem; }
  90% { margin-right: -0.3rem; }
  100% { margin-right: 0rem; }
}
