.main {
  display: flex;
  flex-direction: column;
}

.greater {
  color: palevioletred;
  margin-bottom: 40px;
  font-weight: 500;
}

td {
  color: rgb(122, 119, 119);
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  padding: 16px;
  border: 2px solid rgba(216, 112, 147, 0.623);
}

.num {
  text-align: center;
}
