* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

body, html, #root {
  height: 100%;
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  margin-bottom: 53px;
}

p, input {
  color: palevioletred;
}

.currentWord {
  display: block;
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

input, button, table {
  text-align: center;
  border: 2px solid rgba(216, 112, 147, 0.753);
  border-radius: 5px;
  margin-top: 20px;
  padding: 15px;
  font-size: 24px;
  text-transform: uppercase;
}

table {
  padding: 0px;
}

input:focus, button:focus {
  outline: none;
}

button {
  background-color: lightpink;
  color: white;
}

.mainButton, input {
  width: 100%;
}

.mainButton {
  margin-top: 30px;
}


@media (min-width: 700px) {
  .wrapper {
    margin-top: 53px;
    width: 80%;
  }

  input {
    width: 46%;
    margin-top: 30px;
  }

  .mainButton {
    width: 46%;
    margin-top: 40px;
  }
}
