* {
  box-sizing: border-box;
}

.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  justify-content: center;
}

p {
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
}

.lang {
  height: 52px;
  width: 52px;
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: 10px;
  border: 2px solid palevioletred;
  border-radius: 50%;
}

button {
  background-color: lightpink;
  color: white;
}

p, input {
  color: palevioletred;
}

input, button {
  text-align: center;
  border: 2px solid palevioletred;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  font-size: 28px;
  text-transform: uppercase;
}

input:focus, button:focus {
  outline: none;
}
